.whole {
  padding: 20px 50px 20px 50px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 100%;
}

.leftSide {
  border-right: 1px solid grey;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.rightSide {
  width: 30%;
  display: flex;
}

.right {
  border: 1px solid black;
  width: 40%;
  justify-content: space-evenly;
}
